#
############################# INTELLECTUAL PROPERTY RIGHTS #############################
##                                                                                    ##
##                           Copyright (c) 2024 Terminus LLC                          ##
##                                All Rights Reserved.                                ##
##                                                                                    ##
##          Use of this source code is governed by LICENSE in the repo root.          ##
##                                                                                    ##
############################# INTELLECTUAL PROPERTY RIGHTS #############################
#
#    File:    conan-setup.cfg
#    Author:  Marvin Smith
#    Date:    7/5/2023
#
#    Purpose:  Config-file options for conan-setup.bash script
#

# Conan has support for "profiles".
conan_setup_profile="default"

# Conan remote repositories.  Override this in ~/.conan-setup.cfg if your server
# address changes (e.g., a different hostname or IP for the Terminus Conan server).
conan_setup_repos["terminus-conan"]="http://rpi5:9300"
