#
############################# INTELLECTUAL PROPERTY RIGHTS #############################
##                                                                                    ##
##                           Copyright (c) 2024 Terminus LLC                          ##
##                                All Rights Reserved.                                ##
##                                                                                    ##
##          Use of this source code is governed by LICENSE in the repo root.          ##
##                                                                                    ##
############################# INTELLECTUAL PROPERTY RIGHTS #############################
#
#    File:    conan-setup.cfg
#    Author:  Marvin Smith
#    Date:    7/5/2023
#
#    Purpose:  Config-file options for conan-setup.bash script
#

# Conan has support for "profiles".
conan_setup_profile="default"

# C++ standard to enforce in the default Conan profile. Terminus projects
# require C++23, but conan profile detect uses the compiler's default
# (e.g. gnu17 for GCC 14), so we override it here.
conan_setup_cppstd="23"

# Maximum number of parallel build jobs Conan should use for compilation.
# Capping this limits memory pressure during heavy C++ builds (e.g. protobuf,
# ffmpeg). Override in ~/.conan-setup.cfg if your build machine has more RAM.
conan_setup_build_jobs="4"

# Conan remote repositories.  Override this in ~/.conan-setup.cfg if your server
# address changes (e.g., a different hostname or IP for the Terminus Conan server).
conan_setup_repos["terminus-conan"]="http://rpi5:9300"
